$invalid-field: red;

html {
  height: 100%;
}
* {
  margin: 0;
  padding: 0;
}
.transform {
  -ms-transform: translateY(100%);
  transform: translateY(100%);
}
.input {
  width: 15rem !important;
}

.LoginError {
  color: $invalid-field;
  margin-top: 5px;
}

.forgotPasswordText {
  width: 15rem;
  display: flex;
  justify-content: right;
  color: rgb(56, 56, 230);
  text-decoration: underline;
  cursor: pointer;
  user-select: none;
}

.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
  color: white;
}
