.primaryButton {
  width: 120px;
  background-color: rgb(29, 141, 247);
  border: 2px solid rgb(0, 130, 236);
  border-radius: 5px;
  height: 40px;
}

.primaryButton:hover {
  background-color: rgb(38, 198, 247);
}
