$--bs-dark-rgb: rgb(36, 39, 43);

* {
    margin:0px;
}

.text-decoration-none{
    text-shadow: none !important;
}

 
.border{
    border-radius: 20px !important;
    box-shadow: none;
}

.fs{
    font-size: 1.7rem;
}

.mainPageHeroSection{
    background-color: $--bs-dark-rgb;
}

@media  (min-width: 768px) {
    .row-md{
        margin-left: 5%;
        margin-right: 5%;
    }   
}
@media (max-width:768px){
    .row-md{
        margin-right: 2%;
        margin-left:2%
    }
}