.forgotPasswordContent {
  background-color: rgb(36, 39, 43);
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  gap: 20px;
}

.changePasswordButton {
  color: rgb(255, 255, 255);
  background-color: rgb(33, 151, 230);
  border: 2px solid transparent;
  border-radius: 5px;
  padding-block: 10px;
  padding-inline: 2vw;
  transition: all;
  transition-duration: 0.3s;
}

.changePasswordButton:hover {
  background-color: rgb(66, 150, 206);
}

.changePasswordButton:focus {
  border: 2px solid rgb(33, 151, 230);
}

.changePasswordButton:disabled {
  background-color: rgb(45, 101, 139);
}
