$--bs-dark-rgb: rgb(36, 39, 43);

.allQuestions {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(1.5rem, 1fr));
  column-gap: 15px;
  row-gap: 1px;
  position: relative;
  max-height: 10px;
}

.questionCard {
  box-sizing: content-box;
  text-align: center;
  padding: 0.5rem;
  width: 1.2rem;
  border: 1px solid black;
  background-color: white;
  color: black;
  border-radius: 50%;
  cursor: pointer;
  margin-bottom: 0;
  max-height: 1.5rem;
}

.quizContent {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.quizContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  padding: 1rem;
  background-color: $--bs-dark-rgb;
}

.questionContainer {
  max-height: 20vh;
  margin-inline: 0.5rem;
}

.questionText {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: aliceblue;
  border-radius: 10px;
  padding: 0.5rem;
  width: 50vw;
  height: auto;
}

.w-color {
  color: white;
}

.answersContainer {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.answerField {
  display: flex;
  flex-direction: row;
  background-color: aliceblue;
  width: 50vw;
  padding-left: 1rem;
  border: 1px solid black;
  border-bottom-right-radius: 25px;
  border-top-left-radius: 25px;
  margin-block: 5px;
}

.answerText {
  width: inherit;
  padding: 1rem;
  clear: both;
  cursor: pointer;
  float: left;
}

.footerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.numberOfQuestions {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sendButton {
  margin-bottom: 1rem;
  padding-inline: 1rem;
  order: 1;
  width: max-content;
  height: min-content;
}

.questionAction {
  height: 1vh;
}

@media screen and (max-width: 890px) {
  .questionContainer {
    max-height: none;
  }

  .quizContent {
    height: 100%;
    flex-direction: column;
  }

  .questionAction {
    min-width: fit-content;
    max-width: 85px;
  }

  .quizContainer {
    flex-direction: column;
    padding: 0;
    align-items: center;
    padding-top: 1rem;
  }
  .allQuestions,
  .questionText,
  .answerField {
    width: 100%;
  }

  .allQuestions {
    position: relative;
    display: grid;
    min-height: 35vh;
    width: 100%;
    column-gap: 0.25rem;
    max-width: 300px;
    grid-template-columns: repeat(auto-fill, minmax(2.75rem, 1fr));
    justify-items: center;
    position: relative;
  }

  .sendButton {
    bottom: 0;
    width: max-content;
    padding-inline: 1em;
  }

  .numberOfQuestions {
    font-size: 15px;
  }

  .rightSection {
    margin-bottom: 45px;
    position: relative;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-height: 600px) {
  .questionAction {
    min-width: fit-content;
    width: 2vw;
  }

  .allQuestions {
    min-height: 30vh;
  }

  .sendButton {
    margin-top: 3rem;
  }
}

@media screen and (max-width: 850px) and (max-height: 400px) {
  .allQuestions {
    min-height: 55vh;
  }

  .rightSection {
    margin-bottom: 0;
  }
}
