.buttonWithDropDown {
  cursor: pointer;
  min-width: 100px;
  width: 175px;
  background-color: whitesmoke;
  border-radius: 5px;
  padding-block: 1em;
  color: black;
  position: relative;
  border: 2px solid rgb(241, 241, 241);
}

.title {
  user-select: none;
  position: absolute;
  top: 0;
  padding-left: 10px;
  font-size: small;
  font-weight: 500;
}

.dropDownSpace {
}
