
.nav-item {
  color: #f0f0f0;
}

.hero-section {
  background-color: #1e002e;
  width: 100%;
}

.hero-title {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 5vw;
  text-align: center;
  color: #f0f0f0;
}

.hero-item {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 6vh;
  color: #f0f0f0 !important;
  text-align: center ;
  font-weight: 500;
  overflow: hidden;
}
.avatars {
  display: flex;
  justify-content: right;  
}
.avatar {
  display: flex;
  flex-direction: column;
  pointer-events: none;
  user-select: none;
  max-width: 400px;
}

.academies-text {
  word-spacing: 2vh;
}

.card-deck, .card{
  border: none !important;
  
}

@media (min-width: 576px){
.card-deck {
  display: flex;
  flex-flow: row wrap;
  margin-left: -15px;
  margin-right: -15px;
}
}


@media (min-width: 576px){
  .card-deck .card{
    flex: 1 0 0%;
    margin-right: 25px;
    margin-left: 25px;
  }
}

.bg-purple{
  background-color: purple;
}

.changeColorAnim{
 animation: changeColor 0.4s linear infinite alternate;
}

@keyframes changeColor{
    100%{
      color:  turquoise;
    }
    0%{
      color:antiquewhite
    }
}

.delay1{
  animation-delay: 1s;
}

.delay2{
  animation-delay: 2s;
}

.border-tb{
  border-bottom: 4px solid #444;
  border-top: 4px solid #444;
}

.card:hover{
  box-shadow: 0px 6px 10px rgba(0,0,0,0.4);
  transform: scale(1.01);
}

.nav-item:hover{
  animation: changeNavBarItemColor 0.3s linear forwards;
  cursor: pointer;
}

.nav-item{
  animation: changeNavBarItemColor 0.3s linear backwards;
}

@keyframes changeNavBarItemColor{
  0%{
    color: whitesmoke;
  }
  100%{
    color :bisque;
    text-shadow: 0 0 5px rgba(0, 0, 0, 1);
  }
}

.selected{
  color : bisque !important;
  text-shadow: 0 0 5px rgba(0, 0, 0, 1) !important;
}

.white-text{
  color: whitesmoke ;
}

.footerApp{
  display: flex;
  justify-content: space-between;
  padding-inline: 3vw;
  box-sizing: border-box;
  padding: 2.5vw;
  font-size: 30px;
  background-color:  rgb(36, 39, 43);;
}


@media screen and (max-width: 480px){
  .hero-title{
    font-size:15vw;
  }
  .avatars{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .avatar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
    border-bottom: 1px solid white;
  }

  .avatar:last-child{
    border-bottom: 0px;
  }

  .cardsMainPage{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card-deck{
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .cardStyle{
    margin-inline: 3%;
    margin-bottom: 3%;
  }

  .createAccountButton{
    margin-top: 10vw;
    font-size: 30px;
    border-radius: 7px ;
    width: 100%;
    height: 10vh;
    margin-bottom: 5vh;
  }

  .hideOnMobile{
    display: none;
  }
  
  .footerApp{
    font-size: 23px;
    padding-inline: 0;
    padding-top: 5vh;
    background-color:  rgb(36, 39, 43);;
    display: flex;
    flex-direction: column; 
    align-items: center;
  }
}