.nav-item {
  color: #f0f0f0;
}

.hero-section {
  display: block;
  background-color: #1e002e;
}

.hero-title {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 10vh;
  color: #f0f0f0;
}

.hero-item h3 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 10vh;
  color: #f0f0f0 !important;
  margin-left: 2vh;
  font-weight: 700;
  overflow: hidden;
  margin-top: -3vh;
  width: 100%;
  border-right: solid #01fe87;
  animation: typing-forward 2s steps(30, end) infinite,
    typing-forward 2s 2s steps(30, end) reverse infinite;
}

@keyframes typing-forward {
  from {
    width: 0;
  }
  to {
    width: 25%;
  }
}
