.nav-item {
  color: #f0f0f0;
}

.hero-section {
  display: block;
  background-color: #1e002e;
}

.hero-title {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 10vh;
  color: #f0f0f0;
}

.list-group-item {
  background-color: #1e002e !important;
  display: block !important;
  height: 9vh;
  margin-left: 2vh;
}

.hero-item {
  list-style-type: none;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 10vh;
  color: #f0f0f0 !important;
  border: 0px !important;
  margin-left: 2vh;
  margin-top: -2vh;
  font-weight: 700;
}
.m-fadeOut {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 300ms;
}
.m-fadeIn {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 300ms;
}
