.forgotPasswordModalWrapper {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.forgotPasswordModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  min-height: 300px;
  min-width: 300px;
}

.forgotPasswordcontent {
  background-image: linear-gradient(to bottom right, #363c5c, #2c283a);
  border-radius: 15px;
  color: white;
  height: 40%;
  width: 50%;
  min-width: 400px;
  min-height: 25vh;
  padding-inline: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  justify-content: space-between;
}

.closeButton {
  padding: 0.75rem;
  background-color: rgb(50, 228, 77);
  color: white;
  border: 2px solid black;
  border-radius: 10px;
  font-size: larger;
  width: 50%;
  max-width: 150px;
  min-width: fit-content;
  margin-bottom: 1rem;
}

.closeButton:hover {
  background-color: rgb(78, 208, 97);
}

.forgotPasswordForm {
  font-size: 21px;
  gap: 10px;
  margin-top: 7vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forgotPasswordForm > input {
  padding-left: 10px;
  background-color: #2c283a;
  border: 2px solid transparent;
  border-radius: 5px;
  max-width: 350px;
  width: 75vw;
  color: white;
  padding-block: 5px;
}

.forgotPasswordForm > input:focus {
  outline: none;
  border: 2px solid #603ae7;
}

.closeIcon {
  right: 0;
  top: 0;
  margin: 5px;
  cursor: pointer;
  color: rgb(244, 56, 56);
  font-size: 32px;
  user-select: none;
  position: absolute;
}

.closeButton:disabled,
.closeButton:disabled:hover {
  background-color: rgb(84, 98, 69) !important;
  color: #2c283a;
}

.invalidEmail {
  color: rgb(247, 54, 20);
  font-family: sans-serif;
  margin-block: 1rem;
}

@media screen and (max-width: 480px) {
  .forgotPasswordcontent {
    min-width: 200px;
    width: 80%;
  }
}

@media screen and(min-height: 912px) {
  .forgotPasswordcontent {
    height: 35%;
  }
}
