$input-focus: #c71585;
$btn-color: #781abb;
$btn-hover: #972ae6;
$invalid-field: rgb(234, 61, 61);
$valid-field: rgb(0, 245, 0);
* {
  margin: 0;
  padding: 0%;
}

.form-group {
  padding: 15px;
  //background-color: azure;
}

.register {
  width: 100%;
  height: 100%;
  display: flex;
  color: white;
  font-family: sans-serif;
  align-items: center;
  justify-content: center;
}

.valid-field {
  border-color: $valid-field !important;
}

.invalid-field {
  border-color: $invalid-field !important;
}

.valid-field-text {
  color: $valid-field !important;
}

.invalid-field-text {
  color: $invalid-field !important;
}

.form-control:focus {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  border-width: 1pt;
}

.register-btn {
  width: 100%;
  color: aliceblue;
  border-radius: 1vh;
  background-color: $btn-color;
}

.register-btn:hover {
  background-color: $btn-hover;
}

.pass-constr {
  margin-top: 15px;
  font-size: smaller;
  margin-left: 5px;
  margin-bottom: 0;
}

.passwordContainer {
  border: 2px solid gray;
  padding: 10px;
  border-radius: 15px;
}

.labelPassword {
  color: white;
}
